<?xml version="1.0"?>

<robot name="camera_holder" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="camera_holder" params="parent">

    <joint name="camera_holder_joint" type="fixed">
        <!-- xyz fel-le ; hatra-elore ; balra-jobbra -->
        <origin rpy="0 3.14 1.57" xyz="-0.0375 -0.070 -0.003"/> 

        <parent link="${parent}"/>
        <child link="camera_holder_link"/>
    </joint>

    <link name="camera_holder_link">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://erik_description/meshes/skamera_ur_new.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <!-- <material name="LightGrey">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material> -->
        <material name="Brickred">
          <color rgba="0.87 0.25 0.11 1.0"/>
        </material>
      </visual>

      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://erik_description/meshes/skamera_ur_new.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- camera -->
    <!-- <gazebo reference="camera_holder_link">
      <material>Gazebo/Orange</material>
    </gazebo> -->

  </xacro:macro>
</robot>
