<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:robot-network-topology="urn:ietf:params:xml:ns:yang:robot-network-topology"
       name="closed-control-loop">

    <xacro:macro name="closed-control-loop" params="control_loop_id supporting_links latency cycle_time frequency payload_capacity reach safety_features maintenance_requirements environment safety_standard_compliance">

        <yang>
            <!-- robot-control-loop -->
            <network>
            <network-id>control_loop_level</network-id>
            <robot-network-topology:control-loop>

                <control-loop-id>${control_loop_id}</control-loop-id>
                <containing-link-ids>${supporting_links}</containing-link-ids>
                <latency>${latency}</latency>
                <cycle-time>${cycle_time}</cycle-time>
                <frequency>${frequency}</frequency>
                <payload-capacity>${payload_capacity}</payload-capacity>
                <reach>${reach}</reach>
                <!-- <end-effector-type>${end_effector_type}</end-effector-type> -->
                <safety-features>${safety_features}</safety-features>
                <maintenance-requirements>${maintenance_requirements}</maintenance-requirements>
                <environment>${environment}</environment>
                <safety-standard-compliance>${safety_standard_compliance}</safety-standard-compliance>

            </robot-network-topology:control-loop>

            </network>
        </yang>

    </xacro:macro>
    
</robot>