<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:robot-network-topology="urn:ietf:params:xml:ns:yang:robot-network-topology"
       xmlns:layer1="urn:ietf:params:xml:ns:yang:layer1"
       name="topology-link">

    <xacro:macro name="topology-link" params="src_node src_tp dst_node dst_tp conn_type reconfig">

        <yang>
            <!-- robot-network-topology-link -->
            <network>
            <network-id>topology_level</network-id>
                <robot-network-topology:link>
                    <robot-network-topology:link-id>${src_node}-${dst_node}-link</robot-network-topology:link-id>
                    <layer1:l1-link-attributes>
                        <type>${conn_type}</type>
                        <reconfig>${reconfig}</reconfig>
                    </layer1:l1-link-attributes>
                    <source>
                        <source-node>${src_node}</source-node>
                        <source-tp>${src_tp}</source-tp>
                    </source>
                    <destination>
                        <dest-node>${dst_node}</dest-node>
                        <dest-tp>${dst_tp}</dest-tp>
                    </destination>

                </robot-network-topology:link>
            </network>
        </yang>

    </xacro:macro>

</robot>