<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur3e_rg2ft" >

  <xacro:property name="M_PI" value="3.14159265359" />

  <!-- common stuff -->
  <!-- <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" /> -->
  <!-- <xacro:include filename="$(find erik_gazebo)/urdf/common.gazebo.xacro" /> -->

  <!-- ur3e -->
  <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro" ur_type="ur3e" />

  <!-- camera holder for d455 -->
  <xacro:include filename="$(find erik_description)/urdf/simple_camera_holder_new.urdf.xacro" />
  
  <!-- gripper bracket -->
  <xacro:include filename="$(find erik_description)/urdf/gripper_bracket.urdf.xacro" />

  <!-- intel realsense camera  -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />

  <!-- rg2ft gripper -->
  <xacro:include filename="$(find onrobot_description)/urdf/rg2ft.urdf.xacro" />

  <!-- rg2ft pipe -->
  <xacro:rg2ft parent="gripper_bracket_link"/>

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur3e/default_kinematics.yaml"/>
  <!-- <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/> -->
  <xacro:arg name="use_effort_interface" default="false"/>

  <xacro:ur3e_robot prefix="" joint_limited="true" use_effort_interface="$(arg use_effort_interface)"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
  />

  <!-- world will be root link-->
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <!-- <origin xyz="0.0 0.0 0.735" rpy="0.0 0.0 -1.57" /> -->
    <origin xyz="0.0 0.0 1.11" rpy="0.0 0.0 3.14159265359" />
  </joint>

  <!-- Gripper bracket  -->
  <xacro:gripper_bracket parent="wrist_3_link" />

  <!-- Simple camera holder  -->
  <xacro:simple_camera_holder parent="gripper_bracket_link" />

  <xacro:sensor_d455 parent="camera_holder_link">
    <!-- xyz: elore-hatra ; le-fel ; jobbra-balra -->
    <origin rpy="0 1.57 0" xyz="-0.022 -0.039 -0.01" />
  </xacro:sensor_d455>

<!-- Connection/link descriptions -->
  
  <yang xmlns:nw="urn:network"> 
  
    <!-- link between d455cam and nuc -->
    <connection name="nuc-sensor_d455" type="wired" dev1="nuc" dev2="sensor_d455" />

    <!-- link between nuc and poe-sw -->
    <connection name="nuc-poe_switch" type="wired" dev1="nuc" dev2="poe_switch" />

    <!-- link between rg2ft-box and poe-sw -->
    <connection name="RG2FT_computebox-poe_switch" type="wired" dev1="RG2FT_computebox" dev2="poe_switch" />

    <!-- link between ur3e-controlbox and poe-sw -->
    <connection name="ur3e_robot-ur3e_robot" type="wired" dev1="ur3e_robot" dev2="ur3e_robot" />

    <!-- link between poe-sw and mikrotik -->
    <connection name="poe_switch-mikrotik_hap" type="wired" dev1="poe_switch" dev2="mikrotik_hap" />

    <!-- link between mikrotik and raspi4b -->
    <connection name="mikrotik_hap-rpi4" type="wired" dev1="mikrotik_hap" dev2="rpi4" />

    <!-- link between raspi4b and 5g-modem -->
    <connection name="rpi4-5g_modem" type="wired" dev1="rpi4" dev2="5g_modem" />

  </yang>


</robot>
