<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="nw-5g-modem">
    
    <xacro:include filename="$(find interface_description)/urdf/usb30.urdf.xacro" />
    <!-- <xacro:include filename="$(find interface_description)/urdf/nw_5g_rel15.urdf.xacro"/> -->

    <xacro:macro name="nw-5g-modem" params="parent id:=0 origin_xyz:='-1 1.2 0' origin_rpy:='0 0 3.14' ">
     
        <joint name="nw-5g-modem_${id}_joint" type="fixed">
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
            <parent link="${parent}"/>
            <child link="nw-5g-modem-${id}-link"/>
        </joint>

        <link name="nw-5g-modem-${id}-link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://nw-5g-modem_description/meshes/usb-dongle.stl" scale="0.01 0.01 0.01"/>
                </geometry>
                <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://nw-5g-modem_description/meshes/usb-dongle.stl" scale="0.01 0.01 0.01"/>
                </geometry>
            </collision>
        </link>

        <node>
            <node-id>nw-5g-modem-${id}-node</node-id>
                        
            <dl:device-layer-node-attributes xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer">
                <dl:device-name>nw-5g-modem-${id}</dl:device-name>
                <dl:device-type>modem</dl:device-type>
            </dl:device-layer-node-attributes>

            <xacro:cat6 parent="nw-5g-modem-${id}-link" prefix="nw-5g-modem-${id}" id="0" origin_xyz="0.0 0.1 0.2" origin_rpy="-1.57 0 0"/>
            <xacro:usb30 parent="nw-5g-modem-${id}-link" prefix="nw-5g-modem-${id}" id="0" origin_xyz="0 0.044 0" origin_rpy="1.57 0 0"/>

        </node>

    </xacro:macro>
</robot>