<?xml version="1.0"?>
<!-- xacro for rg2 mounted on the manipulator -->

<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:nw="urn:ietf:params:xml:ns:yang:robot-network"
       xmlns:nt="urn:ietf:params:xml:ns:yang:robot-network-topology"
       xmlns:l1t="urn:ietf:params:xml:ns:yang:layer1"
       xmlns:l2t="urn:ietf:params:xml:ns:yang:layer2"
       name="rg2ft">

  <xacro:include filename="../../interface-description/urdf/usb20.urdf.xacro"/>
  <xacro:include filename="../../interface-description/urdf/cat5e.urdf.xacro"/>
  
  <xacro:macro name="rg2ft" params="prefix L2_network_id:=network_level L1_network_id:=device_level L2_id:=rg2ft_L2 L1_id:=rg2ft_L1">
    <!-- rg2 joint -->
    <joint name="rg2_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0.038 0 0"/>
      <parent link="${prefix}gripper_extender_link"/>
      <child link="${prefix}rg2_body_link"/>
    </joint>
    <link name="${prefix}rg2_body_link">
      <visual>
        <origin rpy="0 ${M_PI/2} 0" xyz="0.051 0.0085 0.0015"/>
        <geometry>
          <mesh filename="package://onrobot_description/meshes/dae_rg2_.dae" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="White">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 ${M_PI/2} 0" xyz="0.051 0.0085 0.0015"/>
        <geometry>
          <mesh filename="package://onrobot_description/meshes/rg2_.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1"/>
        <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
      </inertial>
    </link>

    <joint name="rg2_eef_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0.195 0.0 0.0"/>
      <parent link="rg2_body_link"/>
      <child link="rg2_eef_link"/>
    </joint>
    <link name="rg2_eef_link"/>

    <yang>
        <!-- rg2FT L2 network topology -->
        <network>
            <network-id>${L2_network_id}</network-id>
            <supporting-network>
                <network-ref>${L1_network_id}</network-ref>
            </supporting-network>
            <node>
                <node-id>${L2_id}</node-id>
                <supporting-node>
                    <network-ref>${L1_network_id}</network-ref>
                    <node-ref>${L1_id}</node-ref>
                </supporting-node>
                <xacro:cat5e_L2 id="eth_1" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="eth_1"/>
                <xacro:usb20_L2 id="usb_1" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="usb_1"/>
            </node>
        </network>

        <!-- rg2FT L1 network topology -->
        <network>
            <network-id>${L1_network_id}</network-id>
            <node>
                <node-id>${L1_id}</node-id>
                <layer1:l1-node-attributes>
                    <device-type>gripper</device-type>
                </layer1:l1-node-attributes>
                <xacro:cat5e_L1 id="eth_1" connector_type="rj45" connector_format="female"/>
                <xacro:usb20_L1 id="usb_1" connector_type="usb-std_A" connector_format="female"/>
            </node>
        </network>
    </yang>
  </xacro:macro>
</robot>
