<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:layer1="urn:ietf:params:xml:ns:yang:layer1"
       name="rg2ft_computebox">

    <xacro:include filename="$(find interface-description)/urdf/usb20.urdf.xacro"/>
    <xacro:include filename="$(find interface-description)/urdf/cat5e.urdf.xacro"/>

    <xacro:macro name="rg2ft_computebox" params="L2_network_id:=network_level L1_network_id:=device_level L2_id:=rg2ft_computebox_L2 L1_id:=rg2ft_computebox_L1">

        <yang>
            <!-- RG2FT_computebox L2 network topology -->
            <network>
                <network-id>${L2_network_id}</network-id>
                <supporting-network>
                    <network-ref>${L1_network_id}</network-ref>
                    <tf-parent>${parent}</tf-parent>
                </supporting-network>
                <node>
                    <node-id>${L2_id}</node-id>
                    <supporting-node>
                        <network-ref>${L1_network_id}</network-ref>
                        <node-ref>${L1_id}</node-ref>
                    </supporting-node>
                    <xacro:cat5e_L2 id="eth_1" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="eth_1"/>
                    <xacro:usb20_L2 id="usb_1" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="usb_1"/>
                </node>
            </network>

            <!-- RG2FT_computebox L1 network topology -->
            <network>
                <network-id>${L1_network_id}</network-id>
                <node>
                    <node-id>${L1_id}</node-id>
                    <layer1:l1-node-attributes>
                        <device-type>gripper</device-type>
                    </layer1:l1-node-attributes>
                    <xacro:cat5e_L1 id="eth_1" connector_type="rj45" connector_format="female"/>
                    <xacro:usb20_L1 id="usb_1" connector_type="usb-std_A" connector_format="female"/>
                </node>
            </network>
        </yang>
    </xacro:macro>
</robot>