<?xml version="1.0"?>
<robot name="example-configuration"
      xmlns:xacro="http://wiki.ros.org/xacro"
      xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer"
      xmlns:nl="urn:ietf:params:xml:ns:yang:network-layer"
      xmlns:nt="urn:ietf:params:xml:ns:yang:ietf-network-topology"
      xmlns:nw="urn:ietf:params:xml:ns:yang:ietf-network"
      xmlns:usb="urn:ietf:params:xml:ns:yang:usb-port">

    <link name="world" />

    <!-- import nuc -->
    <xacro:include filename="$(find nuc_description)/urdf/nuc.urdf.xacro" />

    <!-- import d455 camera -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />

    <!-- import usb-cable -->
    <xacro:include filename="$(find cable_description)/urdf/usb-cable.urdf.xacro" />

    <!-- import ethernet-cable -->
    <xacro:include filename="$(find cable_description)/urdf/ethernet-cable.urdf.xacro" />

    <!-- import universal robots ur3e -->
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />

    <!-- Device definition in a network -->
    <network>
        <network-id>device-layer-network</network-id>
        <network-types>
            <dl:device-layer-topology xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer"/>
        </network-types>

        <!-- instantiate nuc -->
        <xacro:nuc parent="world" id="0" origin_xyz="-1 1 0"/>

        <!-- instantiate universal robots ur3e -->
        <xacro:ur_robot 
            name="ur3e"
            tf_prefix=""
            parent="world"
            joint_limits_parameters_file="$(find ur_description)/config/ur3e/joint_limits.yaml"
            kinematics_parameters_file="$(find ur_description)/config/ur3e/default_kinematics.yaml"
            physical_parameters_file="$(find ur_description)/config/ur3e/physical_parameters.yaml"
            visual_parameters_file="$(find ur_description)/config/ur3e/visual_parameters.yaml">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:ur_robot>
       
        <!-- instantiate d455 camera -->
        <xacro:sensor_d455 parent="world" id="0">
            <origin xyz="-0.022 -0.039 -0.01" rpy="0 1.57 0" />
        </xacro:sensor_d455>

        <!-- instantiate ethernet-cable -->
        <xacro:ethernet-cable parent="nuc-0-cat6-0-link" src_node="nuc-0" dst_node="d455" src_tp="cat6-0" dst_tp="usb-typec-0" link_type="usb30" length="2"/>

    </network>

    <network xmlns:nw="urn:ietf:params:xml:ns:yang:ietf-network">
        <network-id>network-layer-network</network-id>
        <network-types>
            <nl:network-layer-topology xmlns:nl="urn:ietf:params:xml:ns:yang:network-layer"/>
        </network-types>

        <nw:supporting-network>
            <nw:network-ref>device-layer-network</nw:network-ref>
        </nw:supporting-network>

        <nw:node>
            <nw:node-id>nuc-supporting</nw:node-id>
            
            <nw:supporting-node>
                <nw:network-ref>device-layer-network</nw:network-ref>
                <nw:node-ref>nuc-0</nw:node-ref>
            </nw:supporting-node>
            
            <nl:network-layer-node-attributes xmlns:nl="urn:ietf:params:xml:ns:yang:network-layer">
                <nl:node-name>nuc-control-node</nl:node-name>
                <nl:node-type>generic</nl:node-type>
            </nl:network-layer-node-attributes>

            <nt:termination-point xmlns:nt="urn:ietf:params:xml:ns:yang:ietf-network-topology">
                <nt:tp-id>nuc-0-rj45-0</nt:tp-id>
                <nt:supporting-termination-point>
                    <nt:network-ref>device-layer-network</nt:network-ref>
                    <nt:node-ref>nuc-0</nt:node-ref>
                    <nt:tp-ref>nuc-0-rj45-0</nt:tp-ref>
                </nt:supporting-termination-point>

                <nl:network-layer-termination-point-attributes xmlns:nl="urn:ietf:params:xml:ns:yang:network-layer">
                    <nl:interface-name>nuc-eth</nl:interface-name>
                    <nl:interface-type>ethernet</nl:interface-type>
                    <nl:interface-status>up</nl:interface-status>
                    <nl:mac-address>00:1A:2B:3C:4D:5E</nl:mac-address>
                </nl:network-layer-termination-point-attributes>
            </nt:termination-point>

        </nw:node>

    </network>

</robot>