<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="flightrack">
    
    <xacro:include filename="$(find interface_description)/urdf/cat6.urdf.xacro"/>

    <xacro:macro name="flightrack" params="parent id:=0  origin_xyz:='-2 2 0' origin_rpy:='1.57 0 1.57' ">
        
        <joint name="flightrack_${id}_joint" type="fixed">
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
            <parent link="${parent}"/>
            <child link="flightrack_${id}_link"/>
        </joint>

        <link name="flightrack_${id}_link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://flightrack_description/meshes/server-rack.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://flightrack_description/meshes/server-rack.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>   

        <!-- Flightrack network topology -->
        <node>
            <node-id>flightrack-${id}-node</node-id>

            <dl:device-layer-node-attributes xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer">
                <dl:device-name>flightrack-${id}</dl:device-name>
                <dl:device-type>flightrack</dl:device-type>
                <dl:device-weight>15000</dl:device-weight>
            </dl:device-layer-node-attributes>

            <xacro:cat6 parent="flightrack_${id}_link" prefix="flightrack_${id}" id="0" origin_xyz="0.04 0.068 0.032" origin_rpy="-1.5707963 0 0" />
            <xacro:cat6 parent="flightrack_${id}_link" prefix="flightrack_${id}" id="1" origin_xyz="0.05 0.068 0.032" origin_rpy="-1.5707963 0 0" />
        </node>

    </xacro:macro>
</robot>