<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:layer1="urn:ietf:params:xml:ns:yang:layer1"
       name="poesw">
    
    <xacro:include filename="$(find interface-description)/urdf/cat6.urdf.xacro"/>

    <xacro:macro name="poesw" params="parent L2_network_id:=network_level L1_network_id:=device_level L2_id:=poesw_L2 L1_id:=poesw_L1">
        
        <joint name="poeswitch_joint" type="fixed">
            <origin xyz="-1 1.5 0" rpy="0 0 0" />
            <parent link="${parent}"/>
            <child link="poeswitch_link"/>
        </joint>

        <link name="poeswitch_link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://poesw_description/meshes/TP-LINK_5_Port_POE_Switch_Blank_TL-SG1005P.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://poesw_description/meshes/TP-LINK_5_Port_POE_Switch_Blank_TL-SG1005P.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>   
        
        
        <yang>
            <!-- POE Switch L2 network topology -->
            <network>
                <network-id>${L2_network_id}</network-id>
                <supporting-network>
                    <network-ref>${L1_network_id}</network-ref>
                    <tf-parent>${parent}</tf-parent>
                </supporting-network>
                <node>
                    <node-id>${L2_id}</node-id>
                    <supporting-node>
                        <network-ref>${L2_id}</network-ref>
                        <node-ref>${L1_id}</node-ref>
                    </supporting-node>
                    <xacro:cat6_L2 id="eth_1" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="eth_1"/>
                    <xacro:cat6_L2 id="eth_2" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="eth_2"/>
                    <xacro:cat6_L2 id="eth_3" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="eth_3"/>
                    <xacro:cat6_L2 id="eth_4" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="eth_4"/>
                    <xacro:cat6_L2 id="eth_5" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="eth_5"/>
                </node>
            </network>

            <!-- POE Switch L1 network topology -->
            <network>
                <network-id>${L1_network_id}</network-id>
                <node>
                    <node-id>${L1_id}</node-id>
                    <layer1:l1-node-attributes>
                        <device-type>switch</device-type>
                    </layer1:l1-node-attributes>
                    <xacro:cat6_L1 id="eth_1" connector_type="rj45" connector_format="female"/>
                    <xacro:cat6_L1 id="eth_2" connector_type="rj45" connector_format="female"/>
                    <xacro:cat6_L1 id="eth_3" connector_type="rj45" connector_format="female"/>
                    <xacro:cat6_L1 id="eth_4" connector_type="rj45" connector_format="female"/>
                    <xacro:cat6_L1 id="eth_5" connector_type="rj45" connector_format="female"/>
                </node>
            </network>

        </yang>
    </xacro:macro>
</robot>