<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="poesw">
    
    <xacro:include filename="$(find interface_description)/urdf/cat6.urdf.xacro"/>

    <xacro:macro name="poesw" params="parent id:=0 origin_xyz:='-1 1.5 0' origin_rpy:='0 0 0' ">
        
        <joint name="poesw-${id}-joint" type="fixed">
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
            <parent link="${parent}"/>
            <child link="poesw-${id}-link"/>
        </joint>

        <link name="poesw-${id}-link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://poesw_description/meshes/TP-LINK_5_Port_POE_Switch_Blank_TL-SG1005P.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://poesw_description/meshes/TP-LINK_5_Port_POE_Switch_Blank_TL-SG1005P.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>   

        <!-- poe-switch network topology -->
        <node>
            <node-id>poesw-${id}-node</node-id>
                        
            <dl:device-layer-node-attributes xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer">
                <dl:device-name>poesw-${id}</dl:device-name>
                <dl:device-type>switch</dl:device-type>
                <dl:device-weight>230</dl:device-weight>
            </dl:device-layer-node-attributes>

            <xacro:cat6 parent="poesw-${id}-link" prefix="poesw-${id}" id="0" origin_xyz="-0.014 0.002 0" origin_rpy="1.5707963 0 0"/>
            <xacro:cat6 parent="poesw-${id}-link" prefix="poesw-${id}" id="1" origin_xyz="0.002 0.002 0" origin_rpy="1.5707963 0 0"/>
            <xacro:cat6 parent="poesw-${id}-link" prefix="poesw-${id}" id="2" origin_xyz="0.018 0.002 0" origin_rpy="1.5707963 0 0"/>
            <xacro:cat6 parent="poesw-${id}-link" prefix="poesw-${id}" id="3" origin_xyz="0.034 0.002 0" origin_rpy="1.5707963 0 0"/>
            <xacro:cat6 parent="poesw-${id}-link" prefix="poesw-${id}" id="4" origin_xyz="0.05 0.002 0" origin_rpy="1.5707963 0 0"/>

        </node>

    </xacro:macro>
</robot>