<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="nuc">
   
    <xacro:include filename="$(find interface_description)/urdf/cat6.urdf.xacro"/>
    <xacro:include filename="$(find interface_description)/urdf/usb30.urdf.xacro"/>

    <xacro:macro name="nuc" params="parent id:=0 origin_xyz:='-1 1 0' origin_rpy:='0 0 0' ">

        <joint name="nuc-${id}-joint" type="fixed">
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
            <parent link="${parent}"/>
            <child link="nuc-${id}-link"/>
        </joint>

        <link name="nuc-${id}-link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://nuc_description/meshes/intel_nuc.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://nuc_description/meshes/intel_nuc.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

        <!-- NUC network topology -->
        <node>
            <node-id>nuc-${id}-node</node-id>
                        
            <dl:device-layer-node-attributes xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer">
                <dl:device-name>nuc-${id}</dl:device-name>
                <dl:device-type>pc</dl:device-type>
                <dl:weight>1000</dl:weight>
            </dl:device-layer-node-attributes>

            <xacro:cat6 parent="nuc-${id}-link" prefix="nuc-${id}" id="0" origin_xyz="0.04 0.068 0.032" origin_rpy="-1.5707963 0 0"/>

            <xacro:usb30 parent="nuc-${id}-link" prefix="nuc-${id}" id="0" origin_xyz="0.087 0.119 0.019" origin_rpy="1.57 1.57 0"/>
            <xacro:usb30 parent="nuc-${id}-link" prefix="nuc-${id}" id="1" origin_xyz="0.075 0.119 0.0199" origin_rpy="1.57 1.57 0"/>

        </node>

    </xacro:macro>
</robot>