<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="cat5e">

    <xacro:macro name="cat5e" params="parent prefix id:=0 origin_xyz origin_rpy">

        <joint name="${prefix}-cat5e-${id}-joint" type="fixed">
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
            <parent link="${parent}"/>
            <child link="${prefix}-cat5e-${id}-link"/>
        </joint>

        <link name="${prefix}-cat5e-${id}-link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://interface_description/meshes/rj45_female.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://interface_description/meshes/rj45_female.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

        <nt:termination-point xmlns:nt="urn:ietf:params:xml:ns:yang:ietf-network-topology">
            <nt:tp-id>${prefix}-rj45-${id}</nt:tp-id>
                    
            <dl:device-layer-termination-point-attributes xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer">
                <dl:port-name>ethernet</dl:port-name>
                <dl:port-type>rj45</dl:port-type>
                <dl:wired>true</dl:wired>
            </dl:device-layer-termination-point-attributes>
        </nt:termination-point>
    
    </xacro:macro>
</robot>