<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:usb="urn:ietf:params:xml:ns:yang:usb-port"
       name="usb20">

    <xacro:macro name="usb20" params="parent prefix id:=0 origin_xyz origin_rpy">

        <joint name="${prefix}-usb20-${id}-joint" type="fixed">
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
            <parent link="${parent}"/>
            <child link="${prefix}-usb20-${id}-link"/>
        </joint>

        <link name="${prefix}-usb20-${id}-link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://interface_description/meshes/usb-A-female.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://interface_description/meshes/usb-A-female.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

            <nt:termination-point xmlns:nt="urn:ietf:params:xml:ns:yang:ietf-network-topology">
                <nt:tp-id>${prefix}-usb20-${id}</nt:tp-id>
                        
                <dl:device-layer-termination-point-attributes 
                    xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer"
                    xmlns:usb="urn:ietf:params:xml:ns:yang:usb-port">
                    <dl:port-name>${prefix}-usb20</dl:port-name>
                    <dl:port-type>usb</dl:port-type>
                    <dl:wired>true</dl:wired>
                    <usb:version>usb2.0</usb:version>
                    <usb:power-consumption>2.5</usb:power-consumption>            
                </dl:device-layer-termination-point-attributes>
            </nt:termination-point>
    </xacro:macro>

</robot>