<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="radiodot">
    
    <xacro:include filename="$(find interface_description)/urdf/cat6.urdf.xacro"/>
    <!-- <xacro:include filename="$(find interface_description)/urdf/nw_5g_rel15.urdf.xacro"/> -->

    <xacro:macro name="radiodot" params="parent id:=0 origin_xyz:='0 2 0' origin_rpy:='0 0 0' ">
        
        <joint name="radiodot-${id}-joint" type="fixed">
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
            <parent link="${parent}"/>
            <child link="radiodot-${id}-link"/>
        </joint>

        <link name="radiodot-${id}-link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://radiodot_description/meshes/radio_dot.stl" scale="0.01 0.01 0.01"/>
                </geometry>
                <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://radiodot_description/meshes/radio_dot.stl" scale="0.01 0.01 0.01"/>
                </geometry>
            </collision>
        </link>   
        
        <!-- radiodot network topology -->

        <node>
            <node-id>radiodot-${id}-node</node-id>
                        
            <dl:device-layer-node-attributes xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer">
                <dl:device-name>radiodot-${id}</dl:device-name>
                <dl:device-type>radiodot</dl:device-type>
                <dl:device-weight>500</dl:device-weight>
            </dl:device-layer-node-attributes>

            <xacro:cat6 parent="radiodot-${id}-link" prefix="radiodot-${id}" id="0" origin_xyz="0 0 0" origin_rpy="0 0 0"/>

        </node>

    </xacro:macro>
</robot>