<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:layer1="urn:ietf:params:xml:ns:yang:layer1"
       name="radiodot">
    
    <xacro:include filename="$(find interface-description)/urdf/cat6.urdf.xacro"/>
    <xacro:include filename="$(find interface-description)/urdf/nw_5g_rel15.urdf.xacro"/>

    <xacro:macro name="radiodot" params="parent L2_network_id:=network_level L1_network_id:=device_level L2_id:=radiobot_L2 L1_id:=radiobot_L1">
        
        <joint name="radiodot_joint" type="fixed">
            <origin xyz="-1 1.2 2" rpy="0 0 0" />
            <parent link="${parent}"/>
            <child link="radiodot_link"/>
        </joint>

        <link name="radiodot_link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://radiodot_description/meshes/radio_dot.stl" scale="0.01 0.01 0.01"/>
                </geometry>
                <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://radiodot_description/meshes/radio_dot.stl" scale="0.01 0.01 0.01"/>
                </geometry>
            </collision>
        </link>   
        
        
        <yang>
            <!-- radiodot L2 network topology -->
            <network>
                <network-id>${L2_network_id}</network-id>
                <supporting-network>
                    <network-ref>${L1_network_id}</network-ref>
                    <tf-parent>${parent}</tf-parent>
                </supporting-network>
                <node>
                    <node-id>${L2_id}</node-id>
                    <supporting-node>
                        <network-ref>${L2_id}</network-ref>
                        <node-ref>${L1_id}</node-ref>
                    </supporting-node>
                    <xacro:cat6_L2 id="eth_1" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="eth_1"/>
                </node>
            </network>

            <!-- radiodot L1 network topology -->
            <network>
                <network-id>${L1_network_id}</network-id>
                <node>
                    <node-id>${L1_id}</node-id>
                    <layer1:l1-node-attributes>
                        <device-type>radiodot</device-type>
                    </layer1:l1-node-attributes>
                    <xacro:cat6_L1 id="eth_1" connector_type="rj45" connector_format="female"/>
                </node>
            </network>
        </yang>
    </xacro:macro>
</robot>