<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ethernet-cable">

    <xacro:macro name="ethernet-cable" params="parent src_node dst_node src_tp dst_tp link_type length">

        <joint name="ethernet-cable-joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="${parent}"/>
            <child link="ethernet-cable-link"/> <!-- kábel csonk -->
        </joint>


        <link name="ethernet-cable-link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder length="${length}" radius="0.001"/> <!-- measure 3D point distances -->
                </geometry>
                <material name="Black">
                    <color rgba="0 0 0 1"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder length="${length}" radius="0.001"/>
                </geometry>
            </collision>
        </link>

        <nt:link xmlns:nt="urn:ietf:params:xml:ns:yang:ietf-network-topology">
            <nt:link-id>${src_node}-${dst_node}-link</nt:link-id>
            
            <nt:source>
                <nt:source-node>${src_node}</nt:source-node>
                <nt:source-tp>${src_node}-${src_tp}</nt:source-tp>
            </nt:source>
            
            <nt:destination>
                <nt:dest-node>${dst_node}</nt:dest-node>
                <nt:dest-tp>${dst_node}-${dst_tp}</nt:dest-tp>  
            </nt:destination>
            
            <dl:device-layer-link-attributes
                xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer">
                <dl:physical-link-name>${src_node}-${dst_node}-cable</dl:physical-link-name>
                <dl:physical-link-type>${link_type}</dl:physical-link-type>
                <dl:cable-length>${length}</dl:cable-length> 
            </dl:device-layer-link-attributes>

        </nt:link>

    </xacro:macro>

</robot>